<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
  </head>
  <body class="splash">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron">
      <a href="/login" role="button" class="btn btn-success">Use Trés Bon Voyage</a>
      <div class="container">
        <h1>Trés Bon Voyage</h1>
        <p>The best way to remember your travels.</p>
      </div>
    </div>
    <div class="frontcontainer container-fluid">
      <% if(error) { %>
      <%= error %>
      <% } else { %>
      You're all set. <a href="/profile">Start your voyage!</a>
      <% } %>
    </div>
    </div>
    <%- include include/footer %>
  </div>
  </body>
</html>
