  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/travel.css' />
    <link rel="icon" href="/images/logo-16.ico" />
    <link rel="icon" sizes="32x32" href="/images/logo-32.ico" />
    <link rel="icon" sizes="192x192" href="/images/logo-192.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/logo-192.png" />
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
    <script src="/js/travelmap.js"></script>
  </head>
