<div class="panel panel-default post">
  <div class="post-date"><span><%- post.date.format("dS &#111;&#102; mmmm, yyyy", true) %></span></div>
  <div class="panel-body">
    <% if(post.title) { %><h1><%= post.title %></h1><% } %>
    <%- post.content %>
  </div>
</div>
