<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <script src="/js/login.js"></script>
    <script src="/js/profile.js"></script>
    <script>TB._csrf = "<%= csrfToken %>";</script>
  </head>
  <body ng-app="tresbon" ng-controller="TBC">
    <div class="jumbotron">
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="frontcontainer container-fluid" ng-controller="ProfileController">
      <% include include/notify %>
      <div class="row">
        <div class="col-lg-6">
          <div class="panel-default">
            <div class="panel-title"><h2 class="profile-profile">Profile</h2></div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Email:</dt><dd ng-bind="info.email"></dd>
                <dt>Voyager Since:</dt><dd ng-bind="info.created_on | date:'fullDate'"></dd>
              </dl>
            </div>
          </div>
          <div class="panel-default profile-link" ng-controller="LoginController">
            <div class="panel-title">
              <div class="link-add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <div class="link-new link-facebook">
                  <a ng-click="fb_associate()"><img src="/images/icons/facebook.png" title="Connect to Facebook" alt="Facebook"/></a>
                </div>
                <div class="link-new link-google">
                  <a href="/auth/google"><img src="/images/icons/google.png" title="Connect to Google" alt="Google"/></a>
                </div>
                <div class="link-new link-instagram">
                  <a href="/auth/instagram"><img src="/images/icons/instagram.png" title="Connect to Instagram" alt="Instagram"/></a>
                </div>
                <div class="link-new link-smugmug">
                  <a href="/auth/smugmug"><img src="/images/icons/smugmug.png" title="Connect to SmugMug" alt="SmugMug"/></a>
                </div>
              </div>
              <h2>Integrations</h2>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="link in info.thirdparty">
                  <div class="link-pic" ng-if="link.image_url"><img ng-src="{{link.image_url}}"/></div>
                  <span class="{{ link.service }}">
                  <h4>
                  {{ link.display_name ? link.display_name : link.service }}
	                </h4>
                  <a href="{{ link.url }}">link</a>
                  <span class="link-remove"><a ng-click="removeLink(link)">remove</a></span>
                  <span class="link-refresh"><a ng-click="link.service === 'facebook' ? fb_associate() : refreshLink(link)">refresh</a></span>
                </div>
             </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel-default">
            <div class="panel-title"><h2>Voyages</h2></div>
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="voyage in info.voyages">
                  <span><a href="/voyage/{{voyage.shortname}}">{{voyage.title || voyage.shortname}}</a></span>
                  <span ng-show="info.userid == voyage.owner" class="label label-primary">Owner</span>
                  <span class="label" ng-class="{'label-success': voyage.role_name == 'guide', 'label-default': voyage.role_name == 'traveler'}">Guide</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
