html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
body {
  background-color: #725940;
  background-image: url("/images/leather.jpg");
  background-repeat: repeat;
}
h1,h2,h3 {
  font-family: 'Calligraffitti', cursive;
}
.jumbotron {
  padding: 10px 40px;
}
.panel-body {
  background-image: url("/images/paper.jpg");
  background-repeat: repeat;
}
.jumbotron {
  background-color:rgba(224, 224, 224, 0.4)
}
div.frontcontainer {
  margin: 0 1em 0 3em;
}
div.frontcontainer h1 {
  font-size: 1.5em;
}
div.author_face {
  position: absolute;
  padding: 4px;
  margin: 4px;
  left: 0.8em;
  top: -1em;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  z-index: 1000;
}
div.frontcontainer div.author_face {
  width: 128px;
  height: 128px;
}
div.jumbotron div.author_face {
  width: 150px;
  height: 150px;
  left: 3em;
  top: 2em;
}
div.jumbotron div.imgspacer {
  width: 168px;
  height: 188px;
  float: left;
}
div.frontcontainer div.imgspacer {
  width: 130px;
  height: 130px;
  float: left;
}
div.author_image img {
  border: solid white 4px;
  width: 100%;
  height: 100%;
}
div.author_face div.author_image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid black;
  left: 0px;
  top: 0px;
  z-index: -2;
}
/* The clip */
div.author_image:before, div.author_image:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -14px;
  top: -10px;
  content:url(/images/clip.png);
  z-index: 1001;
}
div.author_image:after {
  content:"";
  background-color: rgba(0, 0, 0, 0.4);
  left: -2px;
  top: 5px;
  z-index: -3;
}

div#map-canvas {
  width:800px;
  height: 400px;
}

footer.jumbotron {
  margin-bottom:0;
}
.footer .panel {
  border:0;
  background-color:transparent;
}
.footer .panel-title {
}
.footer .panel-body {
  padding: 0;
  background-color:transparent;
  background-image:none;
}
.footer .copyright {
  color: #666;
  font-size: 0.8em;
  text-align:center;
}
