  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/tresbon.css' />
    <link rel='stylesheet' href='/css/theme/<%= theme.css %>.css' />
    <link rel="icon" href="/images/logo-16.ico" />
    <link rel="icon" sizes="32x32" href="/images/logo-32.ico" />
    <link rel="icon" sizes="192x192" href="/images/logo-192.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/logo-192.png" />
    <script src="/js/tz.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/showdown.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-markdown.js"></script>
    <script src="/js/angular-drop.js"></script>
    <script src="/js/angular-filter.min.js"></script>
    <script src="/js/angular-google-maps.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
    <script src="/js/errors.js"></script>
    <script src="/js/tresbon.js"></script>
  </head>
