html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Handlee',Helvetica,Arial,sans-serif;
  font-size: 16px;
}
body {
  background-color: #725940;
  background-image: url("/images/leather.jpg");
  background-repeat: repeat;
}
a {
  color: #339;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration:none;
}
h1,h2,h3 {
  font-family: 'Handlee', cursive;
}
div.single div.panel-body {
  margin-top:1em;
}
.single p { font-size: 1.1em; }
.jumbotron {
  padding: 10px 40px;
  background-color:rgba(224, 224, 224, 0.5);
  min-height: 190px;
}
.jumbotron ol.breadcrumb {
  margin: 5px 0 -15px 15px;
  background: transparent;
  color: rgb(51,51,51);
}
.jumbotron ol.breadcrumb>.active {
  color: rgb(51,51,51);
}
.jumbotron div.world {
  position:absolute;
  top:3px;
  right:2em;
  content:url('/images/world-outline.png');
}
div.frontcontainer {
  margin: 0 1em 0 3em;
}
div.frontcontainer h1 {
  font-size: 1.5em;
}
div.author_face {
  position: absolute;
  padding: 4px;
  margin: 4px;
  left: 0.8em;
  top: -1em;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  z-index: 1000;
}
div.frontcontainer div.author_face {
  width: 96px;
  height: 96px;
}
div.jumbotron div.back {
  height:187px;
  width:20px;
  position:absolute;
  left:6px;
}
div.jumbotron div.back a::after {
  content:url('/images/sewn-back.png');
}
div.jumbotron div.back a span {
  display:none;
}
div.jumbotron div.author_face {
  width: 150px;
  height: 150px;
  left: 3em;
  top: 2em;
}
div.jumbotron div.imgspacer {
  width: 168px;
  height: 188px;
  float: left;
}
.snippet div.imgspacer {
  width: 94px;
  height: 76px;
  float: left;
}
div.post {
  /*
  background-image: url("/images/paper.jpg");
  background-repeat: repeat;
  */
  background-color: rgba(240,240,240,0.95);
}
img.img-1-8 { width:12.5% }
img.img-2-8 { width:25% }
img.img-3-8 { width:37.5% }
img.img-4-8 { width:50% }
img.img-5-8 { width:62.5% }
img.img-6-8 { width:75% }
img.img-7-8 { width:87.5% }
img.img-8-8 { width:100% }
img.img-right {
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
}
img.img-left {
  float: left;
  margin: 0.5em 0.5em 0.5em 0;
}
img.img-top {
  margin-top: 0;
}
.post img {
  max-width:100%;
  padding:4px;
  background-color:rgba(252, 240, 232, 1);
  border:solid #262626 1px;
}
@media (max-width: 900px) {
  .post .panel-body {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .post .panel-body {
    font-size: 1.2em;
  }
}
.post .panel-body {
  padding-left: 1.5em;
}
.snippet .post-content {
  padding-top:0.5em;
}
.snippet .panel-body {
  font-size: 1.1em;
  padding-bottom: 2em;
  max-height: 200px;
  overflow-y: hidden;
}
.snippet div.post-more {
  width:100%;
  height:80px;
  bottom:0em;
  position:absolute;
  padding: 0 15px;
  margin-left: -40px;
}
@media (min-width: 992px) {
  .snippet div.post-more {
    bottom:1em;
  }
}
.snippet div.post-more div {
  text-align:right;
  padding:0.5em 1em;
/*
  background-image:url('/images/paper-bleed.png');
  background-position:bottom right;
  background-repeat:repeat-x;
  */
  background: linear-gradient(rgba(240,240,240,0),rgba(240,240,240,0.6),rgba(240,240,240,0.8),rgba(240,240,240,1));
  width:100%;
  height:80px;
}
.snippet div.post-more div span {
  position:absolute;
  bottom:0.5em;
  right:2em;
  width:100%;
}
.post div.post-date {
  font-size:14px;
  top: 4px;
  height: 28px;
  right:12px;
  padding:0px;
  padding-left:17px;
  background-image:url('/images/tape-end.png');
  background-repeat:no-repeat;
  float:right;
  margin-right:-3px;
  position: absolute;
}
.post-full div.post-date {
  position: relative;
  margin-right: -17px;
}
.post div.post-date span {
  font-family: 'Calligraffitti', cursive;
  font-size: 1.2em;
  height:100%;
  padding-top:6px;
  display:block;
  vertical-align:middle;
  padding-right:8px;
  background-image:url('/images/tape.png');
  background-repeat:repeat-x;
  color:#ddd;
}
.frontcontainer div.pagination {
  float:right;
}
.frontcontainer .row {
  margin-top:1em;
}
div.author_image img {
  border: solid rgba(252, 240, 232, 1) 4px;
  width: 100%;
  height: 100%;
}
div.author_face div.author_image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid #262626;
  left: 0px;
  top: 0px;
  z-index: -2;
}
/* The clip */
div.author_image:before, div.author_image:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -3px;
  top: -9px;
  content: "";
  background-size: 100%;
  background-image: url(/images/clip.png);
  z-index: 1001;
}
div.author_image:after {
  background-color: rgba(0, 0, 0, 0.4);
  left: -2px;
  top: 5px;
  z-index: -3;
}

div.map {
  position:absolute;
  border:4px solid #ccc;
  top: 18px;
  right: 2em;
}
div#map-canvas {
  height:180px;
  width:360px;
}

/* agenda */

.agenda .travel-method {
 position: relative;
 display: inline-block;
}
.agenda .travel-method span {
 margin: 0.5em 1em;
}
@media (min-width: 992px) {
  .agenda .panel-follow {
    height: 20px;
  }
  .agenda .travel-method {
    height:75px;
    top:-95px;
    margin-top:75px;
    margin-bottom:-75px;
  }
  .agenda .travel-method span {
   left:-1000em;
  }
  .agenda .travel-method-car {
   content:url('/images/auto-sewn.png');
   width:114px;
  }
  .agenda .travel-method-van {
   content:url('/images/auto-sewn.png');
   width:114px;
  }
  .agenda .travel-method-air {
   content:url('/images/airplane-sewn.png');
   width:114px;
  }
  .agenda .travel-method-train {
   content:url('/images/train-sewn.png');
   width:134px;
  }
  .agenda .travel-method-auto {
   content:url('/images/auto-sewn.png');
   width:126px;
  }
  .agenda .travel-method-boat {
   content:url('/images/boat-sewn.png');
   width:114px;
  }
  .agenda div.panel {
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
  }
}

div.agenda-location {
  background-color: #fae468; /* postit yellow */
  -webkit-box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
  box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
}
div.agenda-location .pin {
  position:absolute;
  width:100%;
}
div.agenda-location .pin::after {
  content:url('/images/orange-tack.png');
  position:absolute;
  width:100%;
  text-align:center;
  top:-10px;
}

/* footer */

footer.jumbotron {
  margin-top: 2em;
  margin-bottom:0;
  position: relative;
}
@media (max-width: 767px) {
  p {
    font-size: 1.1em;
  }
}
.footer p {
  font-size: 1.1em;
}
ul.travelers {
  list-style-type: none;
  margin:0;
  padding:0;
}
ul.travelers li {
  display: inline;
}
.footer ul.travelers img {
  width: 40px;
}
.footer .panel {
  border:0;
  background-color:transparent;
}
.footer .panel-title {
}
.footer .panel-body {
  padding: 0;
  background-color:transparent;
  background-image:none;
}
.footer .copyright {
  color: #666;
  font-size: 0.8em;
  text-align:center;
}
